body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.kaikki {
    text-align: center;
}

h1 {
    color: black;

}

button {
    margin-top: 5px;
}

textarea {
    width: 200px; /* Set the width of the textarea */
    height: 30px; /* Set the height of the textarea */
    resize: none; /* Prevent resizing */
    text-align: center; /* Center the text */
    vertical-align: middle; /* Center the text vertically */
    line-height: 30px; /* Match the line height to the height of the textarea */
    overflow: hidden; /* Hide overflow */
}
