body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.kaikki {
    text-align: center;
}

h1 {
    color: black;

}

.warning{
    border: 2px solid red;
    border-radius: 4px;
    color: red;
}

.showAge  p{
    margin: 0 4px; /* Add margin between the elements */
    font-size: 16px; /* Set the font size */
}

.showAge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

textarea {
    width: 200px; 
    height: 30px; 
    resize: none; 
    text-align: center; 
    vertical-align: middle;
    line-height: 30px;
    overflow: hidden; 
}
